/* Write your global styles here, in Tailwind or PostCSS syntax */

@import '@fontsource/fira-mono';

@tailwind base;

:root {
  @apply font-sans;
}

a {
  @apply text-accent;
  @apply hover:underline;
}

article {
  @apply mx-auto mt-16 mb-0 w-full max-w-2xl;
}

body {
  @apply min-h-screen;
  @apply m-0;
  @apply bg-[linear-gradient(180deg,#b9c6d2_0%,#d0dde9_10.45%,#edf0f8_41.35%)];
}

h1,
h2,
p {
  @apply text-heading;
  font-weight: 400;
}

p {
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

@tailwind components;

@tailwind utilities;
